<div class="text-gray-700 bg-gray-300 px-4 py-2 m-2">
    <div class="flex justify-between">
        <h2 class="text-2xl"><strong>{{project}}</strong></h2> {{! project title from db will go here }}
        <i class="fas fa-flag text-red-600 text-right self-center"></i>

    </div>
    <div class="text-left">
        <h2 class="text-xl"><u>{{user}}</u> said:</h2> {{! the user who is commenting will be displayed here }}
        <p>{{comment}}</p> {{! the user's comment will go here }}
    </div>
</div>