
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>

    <div>
        <nav x-data="{ open: false }" @keydown.window.escape="open = false" class="bg-gray-800">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8" src="/img/logos/workflow-mark-on-dark.svg" alt="Workflow logo" />
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline">
                                <a href="/members"
                                    class="ml-4 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard</a>
                                <a href="#"
                                    class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Give Feedback</a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
                            <button
                                class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700"
                                aria-label="Notifications">
                                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                </svg>
                            </button>
                            <div @click.away="open = false" class="ml-3 relative" x-data="{ open: false }">
                                <div>
                                    <button @click="open = !open"
                                        class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"
                                        id="user-menu" aria-label="User menu" aria-haspopup="true"
                                        x-bind:aria-expanded="open">
                                        <img class="h-8 w-8 rounded-full"
                                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                            alt="" />
                                    </button>
                                </div>
                                <div x-show="open" x-transition:enter="transition ease-out duration-100"
                                    x-transition:enter-start="transform opacity-0 scale-95"
                                    x-transition:enter-end="transform opacity-100 scale-100"
                                    x-transition:leave="transition ease-in duration-75"
                                    x-transition:leave-start="transform opacity-100 scale-100"
                                    x-transition:leave-end="transform opacity-0 scale-95"
                                    class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg">
                                    <div class="py-1 rounded-md bg-white shadow-xs">
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Your
                                            Profile</a>
                                        <a href="#"
                                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign
                                            out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="-mr-2 flex md:hidden">
                        <button @click="open = !open"
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
                            x-bind:aria-label="open ? 'Close main menu' : 'Main menu'" x-bind:aria-expanded="open">
                            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                                <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16" />
                                <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div :class="{'block': open, 'hidden': !open}" class="hidden md:hidden">
                <div class="px-2 pt-2 pb-3 sm:px-3">
                    <a href="#"
                        class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard</a>
                    <a href="#"
                        class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Team</a>
                    <a href="#"
                        class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Projects</a>
                    <a href="#"
                        class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Calendar</a>
                    <a href="#"
                        class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700">Reports</a>
                </div>
                <div class="pt-4 pb-3 border-t border-gray-700">
                    <div class="flex items-center px-5">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full"
                                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                alt="" />
                        </div>
                        <div class="ml-3">
                            <div class="text-base font-medium leading-none text-white">Tom Cook</div>
                            <div class="mt-1 text-sm font-medium leading-none text-gray-400">tom@example.com</div>
                        </div>
                    </div>
                    <div class="mt-3 px-2" role="menu" aria-orientation="vertical" aria-labelledby="user-menu"
                        role="menuitem">
                        <a href="#"
                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
                            role="menuitem">Your Profile</a>
                        <a href="#"
                            class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
                            role="menuitem">Settings</a>
                        <a href="#"
                            class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700"
                            role="menuitem">Sign out</a>
                    </div>
                </div>
            </div>
        </nav>
        <header class="bg-white shadow">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold leading-tight text-gray-900 text-center">
                    {{projectData.name}}
                </h1>
                <div class="flex justify-center">
                    <h1 class="mr-6 text-2xl font-bold leading-tight text-gray-900">{{projectData.User.dataValues.email}}</h1>
                    <i class="fas fa-arrow-alt-circle-up text-2xl text-green-500 self-center"></i><p class="text-xl mr-3">1</p>
                    <i class="fas fa-arrow-alt-circle-down text-2xl text-blue-500 self-center"></i><p class="text-xl">2</p>
                </div>
            </div>
        </header>
        <main>
            <div class="flex flex-col align-center max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
                <!-- Replace with your content -->
                <div class="self-center rounded-md text-gray-700 text-left bg-gray-400 px-4 py-4 m-2 sm:w-11/12 md:w-2/5 lg:w-7/12">
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/754563502&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <!-- <img class="m-auto" src="https://s1.qwant.com/thumbr/0x380/0/7/f588dc011cae160125b59f5b1893360e8029ddca8e583eb8ad40388d2e0f84/shutterstock_173128658.jpg?u=https%3A%2F%2Fwww.simplek12.com%2Fwp-content%2Fuploads%2F2015%2F07%2Fshutterstock_173128658.jpg&q=0&b=1&p=0&a=1" alt=""> -->
                    <h2 class="text-xl pt-4"><strong>Message from {{projectData.User.dataValues.email}}</strong></h2>
                    <h2 class="text-xl pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempora, expedita quae id molestias soluta nisi iusto cupiditate corrupti consequatur, corporis, distinctio praesentium.</h2>
                    <div class="flex justify-around"></div>
                </div>
                    <form class="self-center bg-white shadow-md rounded px-8 pt-6 pb-8 my-4 sm:w-11/12 md:w-2/5 lg:w-7/12 border border-gray-300">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                            Feedback:
                            </label>
                            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="textarea" placeholder="Please be detailed and contructive. Help keep our community friendly :D" rows="4"></textarea>
                        </div>
                        <div class="mb-6">
                            <p>Select a rating:</p>
                            <div class="flex flex-row">
                                <input type="radio" id="loveIt" name="rating" value="3">
                                <label for="male" class="pl-2 pr-4">❤️ Love it</label><br>

                                <input type="radio" id="likeIt" name="rating" value="2">
                                <label for="female" class="pl-2 pr-4">👍 Like it</label><br>

                                <input type="radio" id="needsWork" name="rating" value="1">
                                <label for="other" class="pl-2 pr-4">🛠️ Needs work</label>
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                            Submit
                            </button>
                        </div>
                        </form>
                <div class="px-4 py-6 sm:px-0">
                    <div class="border-4 border-dashed border-gray-200 rounded-lg h-96"></div>
                </div>
                <div class="self-center rounded-md text-gray-700 text-center bg-gray-400 px-4 py-2 m-2 sm:w-11/12 md:w-2/5 lg:w-1/2">
                    <h2 class="text-3xl">Feedback Received</h2>
                    <div class="text-gray-700 bg-gray-300 px-4 py-2 m-2">
                        <div class="flex justify-between">
                            <h2 class="text-2xl"><strong>Project Name</strong></h2>
                            <i class="fas fa-flag text-red-600 text-right self-center"></i>

                        </div>
                        <div class="text-left">
                            <h2 class="text-xl"><u>Fattyweed420</u> said:</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quas molestias enim esse saepe necessitatibus facilis voluptate doloremque quam aut, praesentium ad dolore ea? Animi esse molestias saepe veritatis aut!
                            </p>
                        </div>
                    </div>
                    <div class="text-gray-700 bg-gray-300 px-4 py-2 m-2">
                        <div class="flex justify-between">
                            <h2 class="text-2xl"><strong>Project Name</strong></h2>
                            <i class="fas fa-flag text-red-600 text-right self-center"></i>

                        </div>
                        <div class="text-left">
                            <h2 class="text-xl"><u>Fattyweed420</u> said:</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quas molestias enim esse saepe necessitatibus facilis voluptate doloremque quam aut, praesentium ad dolore ea? Animi esse molestias saepe veritatis aut!
                            </p>
                        </div>
                    </div>
                    <div class="text-gray-700 bg-gray-300 px-4 py-2 m-2">
                        <div class="flex justify-between">
                            <h2 class="text-2xl"><strong>Project Name</strong></h2>
                                <i class="fas fa-flag text-red-600 text-right self-center"></i>
                        </div>
                        <div class="text-left">
                            <h2 class="text-xl"><u>Fattyweed420</u> said:</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quas molestias enim esse saepe necessitatibus facilis voluptate doloremque quam aut, praesentium ad dolore ea? Animi esse molestias saepe veritatis aut!
                            </p>
                        </div>
                    </div>
                <!-- /End replace -->
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/project-review.js"></script>